{{>header2}}
<div class="container">
    <form action="/inscribir" method="post">
        <div class="row">
            <div class="col">
                {{{listarCursosSelect}}}
            </div>
            <div class="col">
                <label for="">Documento del aspirante</label>
                <input type="text" class="form-control" placeholder="Documento" name="doc_identidad" required>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary">Registrarme</button>
        </div>
    </form>
</div>
{{inscrito nombre documento}}
{{>footer}}